

<form action="/session" accept-charset="UTF-8" method="post" class="card sign-in">
    <h1 class="card-header text-center info-color text-white">
        <strong>Авторизация</strong>
    </h1>
    <div class="card-body">
        <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="2wYSA5rfzFt9NfF/GF4vdKBWNj1ALSh9adUzI6GHyC7PmI1anJd6cK33l7Ts/flAI4PnQ46XzF2dwjIM8VRPJg==">
        <input type="text" name="session[email]" id="session_email" class="form-control mb-4" placeholder="Login">
        <input type="password" name="session[password]" id="session_password" class="form-control" placeholder="Password">
    </div>
    <div class="card-footer">
        <button class="btn btn-info btn-block" type="submit" name="commit" value="Sign in" data-disable-with="Sign in">Sign in</button>
    </div>
</form>
