

<form action="/users" accept-charset="UTF-8" method="post" class="card sign-up">
    <h5 class="card-header text-center info-color text-white">
        <strong>Sign up</strong>
    </h5>
    <div class="card-body">
        <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="YKjGIF92qyIhjhxNVYPIbafcDhIGKvhOxe5gKXOxFIJ0Nll5WT4dCfFMeoahIB5ZJAnfbMiQHG4x+WEGI2KTig==">
        <input type="text" name="user[username]" id="user_username" class="form-control mb-4" placeholder="Login">
        <input type="password" name="user[password]" id="user_password" class="form-control" placeholder="Password">
    </div>
    <div class="card-footer">
        <button class="btn btn-info btn-block my-4" type="submit" name="commit" value="Sign up" data-disable-with="Sign up">Sign up</button>
    </div>
</form>
